<div class="container mt-5">
    <div class="row text-center mt-2">
        <div class="col-12">
            <button routerLink="/balance" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-secondary btn-lg mr-2 mb-2" style="text-align:center">Balance</button>
            <button routerLink="/retiro" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-danger btn-lg mb-2" style="text-align:center">Retiro</button>
            <button routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-warning btn-lg  mb-2" style="text-align:center">Salir</button>
        </div>
    </div>
</div>